/* ===== GATO PROYECTOS ===== */
.proyectos-card{
  position: relative;
  overflow: hidden;
}

.proyectos-card h2,
.proyectos-card ul{
  opacity: 0;
}

.gato-overlay{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:22px;
  z-index:2;
  transition:transform .4s ease, filter .4s ease;
  filter:brightness(.85) contrast(1.1);
}

.proyectos-card:hover .gato-overlay{
  transform:scale(1.05);
  filter:brightness(1) contrast(1.15);
}
